{% extends "home.html" %}

 
{% block title %} 
 cart

{% endblock title %} 
{% block content %}
   <div class="flex flex-row my-40 justify-around">
    <div class="flex flex-col space-y-3 ml-[50px] bg-scroll">
        {% for x in cart %}
        <div class='flex flex-row space-x-5 items-center h-[150px] group'>
            <div class=''><img src="{{x.Product.product_images.url}}" alt="" class='w-[180px] h-[150px]'></div>
            <div class="flex flex-col space-x-2 space-y-3 justify-around">
                <div class='font-semibold group-hover:text-[#2874F0]' >{{x.Product.name}}</div>
                <div class='text-[#adacac] underline decoration-1 text-[13px]'>{{x.Product.seller_name}}</div>
                {% if x.Product.quantity <= 0 %}
                    <div>Out Of Stock</div>
                {% endif %}
                <div class="flex flex-row space-x-3 ">
                    <div class='font-semibold '><i class="fa-solid fa-indian-rupee-sign pl-1 text-[13.5px] mr-[2px]"></i></i>{{x.Product.selling_price | stringformat:'d'}}</div>
                    <div class='line-through decoration-1 text-[#adacac]'><i class="fa-solid fa-indian-rupee-sign mr-[2px] text-[13.5px]"></i>{{x.Product.original_price  | stringformat:'d'}}</div>

                    <div id='amount'>{{x.total_price  | stringformat:'d'}}</div>
                </div>
                <div class='ml-[20px]'><a href="{% url 'removecart' x.id %}" ><i class='fa-solid fa-trash'></i></a></div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class='flex flex-col justify-start w-[400px] h-[400p] mt-[200px] bg-fixed'>
        <div>Price Details</div>
        <div>
            <table> 
                <tr align ='left'>
                    <th>Price</th>
                    <td id='result' class='pl-1'></td>
                </tr>
                <tr align='left'>
                    <th>Discount</th>
                    <td class='pl-1'>-20% off</td>
                </tr>
                <tr align='left'>
                    <th>Delivery Charge</th>
                    <td class='pl-1'>Free</td>
                </tr>
                <tr align='left'>
                    <th>Total Amount</th>
                    <td id='final'></td>
                </tr class='pl-1'>
            </table>
        </div>
    </div>
   </div>
    <script>
        const amount = document.querySelectorAll('#amount')
        let result = document.getElementById('result')
        let final = document.getElementById('final')
        const arr = Array.from(amount)
        let sum = arr.reduce((a,b) => a += Number(b.textContent), 0)
        let dfa = sum-((20/100)*sum)
        result.textContent = sum
        final.textContent = dfa 
    </script>
{% endblock content %}